@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
    --cor01: #840001
}

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 0px 3px 1px rgb(131, 127, 127);
}

nav ul {
    list-style: none;
    padding: 0px;
    text-align: center;
}

nav ul li {
    display:block;
    margin-right:20px;
    font-size: 1em;
    font-weight: bold;
    color: var(--cor01);
    padding: 7px;
}

nav ul li a {
    text-decoration: none;
}

.inicio {
    width: 100%;
    height: 800px;
    background-image: url(../imagens/WhatsApp\ Image\ 2023-08-30\ at\ 09.23.55.jpeg);
    background-size: cover;
    background-position: center center;
}

.conteudo-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.737);
}

.conteudo-centro > h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.5em;
    padding: 5px;
    
    color: var(--cor01);
}

.conteudo-centro > p {
    font-weight: bold;
}

section.segmentos {
   background-color: rgba(244, 239, 239, 0.79);
   padding: 10px;
   margin: 30px 10px;
   border-radius: 10%;
   box-shadow: 1px 1px 3px 1px rgb(190, 184, 184);
}

section.segmentos > h1 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 2.5em;
    color: var(--cor01);
    font-weight: bold;
    padding: 10px;
    font-variant: small-caps;
}

.seg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#inf > a  {
    font-weight: bold;
    padding: 30px;
    background-color: yellow;
    width: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 3px 1px lightgray;
    color: white;
    font-size: 2em;
    text-shadow: 2px 1px lightgray;
    cursor: pointer;
}

#inf > a:hover {
    background-color: rgb(231, 231, 98);;
}

#fund1-2 > a {
    padding: 30px;
    background-color: orange;
    width: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 3px 1px lightgray;
    color: white;
    font-size: 2em;
    text-shadow: 2px 1px lightgray;
    cursor: pointer;
}

#fund1-2 > a:hover {
    background-color: rgb(213, 153, 41);
}

#medio > a {
    padding: 30px;
    background-color: red;
    width: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 3px 1px lightgray;
    color: white;
    font-size: 2em;
    text-shadow: 2px 1px lightgray;
    cursor: pointer;
}

#medio > a:hover {
    background-color: rgb(136, 44, 44);
}

.proposta-pedagogica {
    margin: 20px 10px;
    background-color: rgba(255, 255, 255, 0.515);
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px rgb(114, 112, 112);
}

.proposta-pedagogica > h1 {
    font-family: 'Alfa Slab One', cursive;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    color: var(--cor01);
}

.proposta-pedagogica > h2 {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: orange;
}

.proposta-pedagogica > p {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 5px;
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
}

.contato {
    background-color: rgba(244, 239, 239, 0.79); ;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    padding: 10px
    
}

footer {
    background-color: #840001;
    color: white;
    text-align: center;
    padding: 20px;
}

footer > legend {
    margin-bottom: 15px;
}
footer > p {
    
}

footer > h4 {
    padding: 10px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: yellow;
}

.inline-social {
    display: inline-block;
    padding: 10px;
}


